body {  
  color:blue;  
}
h1 {  
  color:palevioletred;  
}
h1 {  
  background-color: seashell;  
}
h1{ width: fit-content;}
h1 {font-size:large;}
p {font-size:1.5em; }
p {font-weight:bolder;}
P {font-style:italic; }
p {font-family:sans-serif; }
p {font-family:Georgia;}
p {font-family:Cambria;}
p {font-family:Cambria,Georgia,"Book Antiqua",serif}
a:hover {  
  color:darkgreen;  
}
h1 {  
  color: darkred;  
}
p strong {  
  color: darkkhaki;  
}
p.intro {  
  font-style: italic;  
}
img#img1100 {  
  width:10%;  
}
ol li {  
  margin-bottom: 0.2em;  
}
div.flexible {  
  display:flex;  
}
